.card_component{
    display: flex;
    height: 60vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.user_card {
    background-color:lightblue;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}
.card_content {
    padding: 2px;
    margin: 2px;
}
.card_container{
    margin:5px;
}